{% extends 'admin/base.html.twig' %}

{% block title %}Modification du profil utilisateur de <strong>{{user.fullName}}</strong>{% endblock %}

{% block body %}

<div class="container">
    <h1>Modification du profil de l'utilisateur <i class="fas fa-arrow-right"></i>  <strong>{{user.fullName}}</strong></h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

    {{ form_end(form) }}

    <hr class="my-4">

    
</div>

<div class="container mb-5 mt-5"></div>

{% endblock %}