{# cards produits #}
{% set url = path('ads_show', {'slug': ad.slug}) %}


    <div class="card bg-light mb-3 cardmaxheight" style="border:none;">  
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="{{ ad.title }}"
            style="height: 200px; width: 100%; display: block; object-fit:cover;">
        </a>
        <div class="card-body casecard">
            <h4 class="card-title">
                <a class="redtext"href="{{ url }}">
                    {{ ad.title }}
                </a>
            </h4>
            <p class="card-text">
                {{ ad.introduction|length >150 ? ad.introduction|slice(0, 150) ~ ' ...' :ad.introduction }}
            </p>            
            {# Feature v2 Permet à un administrateur la modification de l'annonce directement sur la card #}
            {#{% if app.user and app.user == ad.author and is_granted('ROLE_ADMIN') %}
                <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-primary float-right mt-2">Modifier l'article</a>

                <a href="{{ path('ads_delete', {'slug': ad.slug})}}" class="btn btn-danger float-right mt-2" onclick="returnconfirm(`Êtes vous sur de vouloir supprimer l'annonce : {{ad.title}} ?`)">Supprimer l'annonce</a>
            {% endif %}#}
        </div>
        <div class="card-footer text-left align-items-center casecard">
                <strong> {{ ad.price | number_format(2, ',', ' ')}}&euro;</strong>
                <a href="{{ url }}" class="btn btn-primary float-right ">En savoir plus !</a>
        </div>
    </div>
